body {
  background-color: #e8b696;
    font-family: "Arial";
}

button{
      display: inline-block;
  padding: 5px 10px;
  background-color: #e8b696;
  color: #2a2626;
  text-decoration: none;
  border-radius: 4px;
  border: 4px solid black;
    border-color: #2a2626;
  cursor: pointer;
  font-size: 16px;

}
.imagens {
    border: 3px solid black;
}

.login{
    padding: 20px 0;
   border: 3px solid black;
    text-align: center;
    height: 270px;
    width: 200px;
     margin-left: auto;
    margin-right: auto;
    background-color: #d98181;
    color: white;
    font-family: "Arial";
    bottom: 400px;
     position: absolute;
    top: 20%;
    left: 40%;
}

.user{
    padding: 20px 0;
   border: 3px solid black;
    text-align: justify;
    height: 400px;
    width: 500px;
     margin-left: auto;
    margin-right: auto;
    background-color: #d98181;
    color: white;
    font-family: "Arial";
    bottom: 400px;
     position: absolute;
    top: 20%;
    left: 30%;
}

.Createuser {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e8b696;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.Eliminaruser {
  display: inline-block;
  padding: 5px 10px;
  background-color: #e8b696;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;

}

.Eliminaruser:hover {
  background-color: #e8b670;
}

.Createuser:hover {
  background-color: #e8b670;
}

.topo{
    background-color: #da9898;
    width: 100%;
        padding: 10px 0;
        color: #fff;
    color: white;
    font-family: "Arial";
    align-content: center;
}

.hcontainters{
    border: 5px solid #383333;
    padding: 6px 0;
    padding-right: 10px;
    padding-left: 10px;


}

.topo  a {

  color: black;
  font-size: 15px;
}

.perfilPrincipal{


    background-color: #d98181;
    border: 3px solid black;
     height: 600px;
    width: 800px;
    position: absolute;
    top: 10%;
    left: 25%;
}

.Informacaopessoal{
    box-sizing: border-box;
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 2%;
    top: 2%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    height: 500px;
    width: 450px;
    color: white;
}

.estatisticas{
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 60%;
    top: 60%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    color: white;

}
.pagination {
  margin-bottom: 20px;
}

.page-link {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  text-decoration: none;
}

.page-link.active {
  background-color: #ccc;
}

.perfilPrincipal{


    background-color: #d98181;
    border: 3px solid black;
     height: 600px;
    width: 800px;
    position: absolute;
    top: 10%;
    left: 25%;
}

.Informacaopessoal{
    box-sizing: border-box;
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 2%;
    top: 2%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;
    height: 500px;
    width: 450px;
}

.estatisticas{
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 60%;
    top: 60%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;

}
.editprofile{
    background-color: #d98181;
    border: 3px solid black;
     height: 600px;
    width: 600px;
    position: absolute;
    top: 10%;
    left: 30%;
    padding : 10px;


}

.epcontainters{
 border: 3px solid black;
 width:100%;

}
.epcontainters input[type=text]{

  box-sizing: border-box;
  width: 60%;
}

.creditos{
background-color: #d98181;
    border: 3px solid black;
     height: 700px;
    width: 1000px;
    position: absolute;
    top: 10%;
    left: 20%;

}

.proposito{

    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 2%;
    top: 8%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;


}

.funcionalidades{
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 2%;
    top: 40%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;

}

.criadores{
    border: 3px solid black;
     background-color: #865858;
    position: absolute;
    left: 58%;
    top: 25%;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 10px;

}