<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}"> -->
    <title> {% block title %} Base {% endblock %} </title>

</head>
<body>
     {% if request.user.is_authenticated %}
    <header>

    <nav>
            <a href="https://www.iscte-iul.pt/"><img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Logo_ISCTE_Instituto_Universit%C3%A1rio_de_Lisboa.svg" alt="ISCTE" style="width:80px;height:15px;"></a>
            <a href="{% url 'taskmanager:profile' %}">O meu perfil</a>

            <a href="{% url 'taskmanager:task_list' %}">Suas Tasks</a>

            <a href="{% url 'taskmanager:sair' %}"> Sair </a>
        </nav>
    {% else %}
        <nav>
            <a href="https://www.iscte-iul.pt/"><img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Logo_ISCTE_Instituto_Universit%C3%A1rio_de_Lisboa.svg" alt="ISCTE" style="width:80px;height:15px;"></a>
            <a href="{% url 'taskmanager:logar' %}"> Login </a>
            <a href="{% url 'taskmanager:signup' %}"> Signup </a>
        </nav>
    {% endif %}
    </header>
    {% block content %}
    {% endblock %}


    {% block options %}
    {% endblock %}
</body>
</html>