{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'taskmanager/javascript/confirm.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}">

    <title> Editar Utilizador </title>
{% endblock %}

{% block content %}
<div class="editprofile">
  <h2>Editar utilizador</h2>
    <a href="{% url 'taskmanager:users_tasks' utilizador.id %}">Tarefas de {{ utilizador.nome }}</a>
  <form method="post" class="epcontainers" action="{% url 'taskmanager:edit_user' utilizador.id %}">
    {% csrf_token %}
    {{ form.as_p }}
      <label> Data de criação: {{ utilizador.datadecriacao }}  </label><p></p>
    <button type="submit">Atualizar</button>
  </form>
    <button id="delete" onclick="confirmUser()">Eliminar</button>
</div>
{% endblock %}