{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'taskmanager/javascript/confirm.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}">
    <title> Editar Tarefa </title>
{% endblock %}

{% block content %}
    <div class="edittask">
  <h2>Editar tarefa</h2>
  <form method="post" action="{% url 'taskmanager:edit_task' task.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Atualizar</button>
  </form>
<p></p>
    <button id="delete" onclick="confirmTask()">Eliminar</button>
    </div>
{% endblock %}