{% extends "./base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}">
    <title> Editar Perfil </title>
{% endblock %}

{% block content %}
    <div class="editprofile">

  <h2>Alterar Perfil</h2>
  <form class="epcontainters" method="POST" action="{% url 'taskmanager:edit_profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Imagem: {{ form.imagem  }}</p>
      <br>
    <p >Nome:  {{ form.nome }}</p>
      <br>Descricao:
   <p> {{ form.descricao }}</p>
      <br>
   <p>  Email: {{ form.email }}</p>
      <br>
    <button onclick="history.back()" type="submit">Salvar mudancas</button>
</form>

    <button onclick="history.back()" >Cancelar</button>

    </div>

{% endblock %}