{% extends "./base.html" %}

{% block title %}
  Editar tarefa
{% endblock %}

{% block content %}
  <h2>Editar tarefa</h2>
  <form method="post" action="{% url 'taskmanager:edit_task' task.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Atualizar</button>
  </form>
    <button id="delete">Eliminar</button>

    <script>
    var myButton = document.getElementById("delete");
    print(dred)
    myButton.addEventListener("click", function() {
        if (confirm("Essa ação é irreversível, deseja prosseguir?")) {
            window.location.href = "{% url 'taskmanager:delete_task' task.id %}";
        }
    });
</script>
{% endblock %}