{% extends "./base.html" %}

{% block title %}
    Autenticação
{% endblock %}

{% block content %}
        <div class="login">
    <header> <h2>Login </h2> </header>

            <form action="{% url 'taskmanager:logar' %}"  method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Senha">
            <input type="submit" value="logar" />
            </form>


    <h2> Não tem uma conta? Crie uma <a href="{% url 'taskmanager:signup' %}">aqui</a></h2>
     </div>
{% endblock %}
