{% extends "./base.html" %}


{% block title %}
    Registo
{% endblock %}



{% block content %}
<h1> Registo</h1>
    <div>
        <form action="{% url 'taskmanager:signup'%}"  method="post">
        {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="nome" placeholder="Nome">
            <input type="password" name="password" placeholder="Senha">
            <input type="submit" value="Criar" />
        </form>
    </div>
{% endblock %}

