{% extends "./base.html" %}
{}
{% block head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'taskmanager/javascript/tasks.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}">
    <title> Lista de Tarefas </title>
    
{% endblock %}
{% block content %}
  <h2>Lista de tarefas</h2>
    <a href="{% url 'taskmanager:create_task' %}">Create Task</a>
    <input type="text" placeholder="Pesquisar" id="search" onkeyup="search()">
    <select id="criteria">
        <option selected value="title"> Título</option>
        <option value="priority"> Prioridade</option>
        <option value="completion"> Estado </option>
        <option value="deadline"> Data </option>
    </select>
    <img onclick="sort()" src="{% static 'taskmanager/images/sorting_arrow.png' %}" width="25" height="25">
    <label id="sort"> </label>

    <ul id="list">
  {% if page_obj %}
    {% for task in page_obj %}
      <li>
      <input type="checkbox" id="{{ task.id }}" name="ids" onchange="visibility()">
      <a href="{% url 'taskmanager:edit_task' task.id %}"> {{ task.title }}</a>
      <label class="priority"> || Priority: {{ task.priority }} || </label>
      <label class="deadline"> Due Date: {{ task.deadline }} || </label>
      <label> Completion status: </label>
      <input type="checkbox" class="completed" {% if task.completed %} checked="true" {% endif %} onchange="update({{ task.id }})">
      </li>
    {% endfor %}
  {% else %}
        <p>Não há tarefas disponíveis.</p>
    {% endif %}
      </ul>


    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current-page">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>


    <button id="deleteAll" type="button" onclick="select()" style="display: none;">Eliminar</button>
{% endblock %}
