{% extends "./base.html" %}
{% block head %}
    {% load static %}
    <script type="text/javascript" src="{% static 'taskmanager/javascript/users.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'taskmanager/css/mystyle.css'%}">
    <title> Lista de Utilizadores </title>
{% endblock %}

{% block content %}
    <div class="user">
  <h2 style="color: black">&nbsp;&nbsp;&nbsp;&nbsp;User List</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'taskmanager:criar_user' %}" class="Createuser">Create User</a>&nbsp;
    <input type="text" placeholder="Pesquisar" id="search" onkeyup="search()">

    <div style="top: -31px; position:relative; left: 350px">
    <img onclick="sort()" src="{% static 'taskmanager/images/sorting_arrow.png' %}" width="25" height="25">

    <label id="sort"> </label></div>
    <div style="top: -20px; position: relative">
    <ul id="list">
  {% if page_obj %}
    {% for utilizador in page_obj %}
      <li>
      <input type="checkbox" id="{{ utilizador.id }}" name="ids" onchange="visibility()">
      <a href="{% url 'taskmanager:edit_user' utilizador.id %}"> {{ utilizador.nome }}</a>

      </li>
    {% endfor %}
  {% else %}
        <p>Não há Users disponíveis.</p>
    {% endif %}
    <p></p>
    <button id="deleteAll" type="button" onclick="select()" style="display: none;" class="Eliminaruser">Eliminar</button>
  </ul>
    </div>
    </div>
<div class="pagination" style="position: absolute; top: 500px; right: 630px">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; primeira</a>
            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current-page">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}